*{box-sizing:border-box;margin:0;padding:0}
body{font-family:Arial;color:#222;background:#f5f7fa}
header{display:flex;justify-content:space-between;padding:20px 8%;
background:#12372a;color:white}
nav a{color:white;text-decoration:none;margin-left:20px}

.hero{text-align:center;padding:80px 20px;background:#dff0e8}
.hero h1{font-size:42px;margin-bottom:10px}
.search{margin:30px auto;max-width:800px;display:flex;gap:10px}
input,select,textarea,button{padding:13px;border:1px solid #ccc;border-radius:6px}
.search input{flex:1}
button{background:#198754;color:white;border:0;cursor:pointer}

section{padding:45px 8%}
section h2{text-align:center;margin-bottom:25px}

.categories{text-align:center}
.categories button{margin:5px}

.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:25px}
.card{background:white;border-radius:10px;overflow:hidden;box-shadow:0 3px 12px #ddd}
.card img{width:100%;height:190px;object-fit:cover}
.card div{padding:18px}
.card h3{margin-bottom:8px}
.price{color:#198754;font-weight:bold;margin:10px 0}

.enquiry{background:#e9f5ef}
form{max-width:600px;margin:auto;display:grid;gap:12px}
textarea{height:100px}

.contact{text-align:center}
footer{text-align:center;padding:20px;background:#12372a;color:white}

@media(max-width:600px){
  nav{display:none}
  .hero h1{font-size:30px}
  .search{flex-direction:column}
}
